@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Inter", sans-serif;
  }
}

li {
  list-style: none;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

li ul {
  padding-left: 1em;
}
